<ion-header-bar class="bar-positive">
    <h1 class="title">나의 정보</h1>
</ion-header-bar>

<ion-content class="has-header" padding="true" >
  <div class="list">
    <div class="row item range range-positive">
        <div class="col" style="text-align:center;">头像</div>
        <div class="col col-75" style="text-align:right;">
            <img ng-src="{{remoteServer+user.files[0].path}}" style="width:80px;height:80px;">
        </div>
    </div>
    <br>
    <div class="row item range range-positive">
        <div class="col" style="text-align:center;">昵称</div>
        <div class="col col-75" style="text-align:right;">
            {{user.username}}
        </div>
    </div>
   </div>
<!--
    <div class="row">
        <div class="col" style="text-align:center;">账号</div>
        <div class="col col-75" style="text-align:right;">
            {{user.email}}
        </div>
    </div>

    <div class="row">
        <div class="col" style="text-align:center;">账号</div>
        <div class="col col-75" style="text-align:right;">
            {{user.email}}
        </div>
    </div>
-->
</ion-content>
