 <ion-view title="검색">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <input id="pac-input" class="controls" type="text" placeholder="Search Box" ng-model="addressValue" ng-change="changeAddress(addressValue)">
    <!--
    <div class="list">
      <a class="item item-icon-left" href="" ng-repeat="result in addressResults" data-lag="{{result.geometry.location.k}}" data-lng="{{result.geometry.location.B}}" ng-click="showMap(result.geometry.location.k,result.geometry.location.B)">
        <i class="icon ion-android-location"></i>
        {{result.formatted_address}}
      </a>
     </div>
     -->
     <ion-list>
        <ion-item ng-repeat="result in addressResults" ng-click="showMap(result.geometry.location.k,result.geometry.location.B)">
         <i class="icon ion-android-location"></i>
        {{result.formatted_address}}
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
