<ion-header-bar class="bar-positive">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goBack()"></button>
    <h1 class="title">주소 검색</h1>
</ion-header-bar>
<ion-content class="has-header" padding="true">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search"  placeholder="Search" ng-model="addressValue" ng-change="changeAddress(addressValue)">
    </label>
    
     <ion-list>
        <ion-item ng-repeat="result in addressResults" ng-click="showMap(result)">
         <i class="icon ion-android-location"></i>
        {{result.formatted_address}}
        </ion-item>
      </ion-list>
</ion-content>
